* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  left: 0px;
  top: 0px;
  color: #ffffff;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}
.header--text {
  margin-left: auto;

  padding-right: 10px;
}
